/* @import url('https://fonts.googleapis.com/css2?family=family=Playwrite+PL:wght@100..400&family=Playwrite+US+Trad:wght@100..400&display=swap'); */

body{
  overflow-x: hidden;
}
.subHeadings {
  font-family: Playwrite PL;
  font-weight: 900;
  text-shadow: 0px 1px 15px rgba(43, 42, 42, 0.5);
  font-size: 2rem;
  text-align: center;
}
.whatWeOffer{
  text-align: left;
  font-size: 2.5rem;
}
.links {
  color: black;
  text-decoration: none;
}

.links:hover {
  color: #055689;
  font-weight: 500;
  transform: scale(0.9);
  transition: ease 0.3;
}
.back{
  color: white;
  width: 100%;
  height: 4rem;
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: linear-gradient(to right top, #051937, #09344d, #095b63, #0b7a4d, #70961f);
}
/* HEADER SECTION */
.navbar {
  font-size: 1.2rem;
  background-color: #dfe4cd;
  /* background-color: #58d4ea; */
  /* background-color: #a3deea; */
  -moz-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.5);
}
.navbar-brand,
.nav-link {
  font-family: Playwrite PL;
  font-weight: 600;
}
.navbar-brand img{
  border-radius: 5px;
}
.navbar-brand span {
  vertical-align: middle;
  font-weight: 600;
}
.dropdown-menu {
  background-color: #dfe4cd;
  /* background-color: #b4dde6; */
  border-color: #09344d;
  margin-left: 1rem;
}
.dropdown-item{
  font-weight: 500;
}

/* HOME SECTION */
.nicheSection {
  flex-wrap: wrap;
  gap: 1rem;
  background-image: url("./assets/niche.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background: url("./assets/niche.jpeg");
  padding: 3rem 0;
  background-position: 50% 35%;

}

.heading {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 3.5rem;
  color: black;
  text-shadow: 0px 2px 15px rgba(43, 42, 42, 0.8);
}

.btn-5 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 15px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
  overflow: hidden;
}

.btn-5::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: #212121;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms;
}

.btn-5:hover {
  color: #e8e8e8;
}

.btn-5:hover::before {
  width: 100%;
}


.featured-section {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;

}

.featured-grid {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: space-around;
  align-items: center;
}
.featured-item {
  width: 100%;
  height: auto;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid rgb(223, 219, 219);
  border-radius:0.5rem;

}
.video{
  width: 100%;
}


.featured-image img,.featured-image video{
  width: 100%;
  height: auto;
  border-radius: 0.8rem;
  padding: 0.5rem;
}


/* Home Section */


/* SKILL CATALOG */
.catalog {
  display: grid;
  grid-template-columns: auto;
  gap: 1rem;
}

.catalog div span {
  display: flex;
  width: max-content;
  flex-direction: row;
  gap: 5px;
}
.catalog ul {
  display: flex;
  flex-wrap: wrap;
}
.catalog ul li {
  list-style-type: none;
  border: 1px solid black;
  border-radius: 25px;
  margin: 5px;
  padding: 3px 10px;
  width: max-content;
}

h6{
  display: inline-block;
  position: relative;
}
h6::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 25px;
  width: 50%;
  height: 4px;
  background-color: rgb(5, 81, 161);
}

/* About Design */
.TagLineSection {
  display: flex;
  flex-wrap: wrap;
  padding: 1.5rem 0;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(to bottom right, pink, white 50%, lightblue);
  -moz-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.5);
}

.tagline1{
font-size: 3rem;
}
.tagline2{
  font-size: 3rem;
text-indent:5rem;
}
.aboutLogoImg {
  width: 10rem;
  border: 10px solid gray;
  padding: 5px;
  border-top-right-radius: 25%;
  border-bottom-left-radius: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}



.whoSection,
.visionSection,
.missionSection {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  -moz-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.5);
  padding: 1rem;
}
.visionSection {
  flex-direction: row-reverse;
}

.mentorsContainer,
.reasonsContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
}
.mentorsContainer div {
  margin: 5px 0;
  -moz-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.mentorsContainer p {
  font-weight: bolder;
  margin: 15px 0;
  line-height: 10px;
}

.mentorsImg {
  object-fit: cover;
  border-radius: 50%;
  min-width: 100px;
  max-width: 200px;
}

.reasonsContainer .mentorsImg{
  border-radius: 0;
  width: 50px;
}
.reasonsContainer p{
  margin-top: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
}
/* About Design */

/* COURSE CONTENT */
.courseSubContent {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.courseSchedule {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.2rem;
}
.courseSubContent img {
  object-fit: contain;
}
.contentListItem{
  list-style-type: none;
  border-radius: 10px;
  width: 80%;
max-width: 800px;
}
.aboutCourse{
  text-align: justify;
}


.listCard {
display: flex;
align-items: center;
padding: 20px;
margin: 10px 0;
border-radius: 5px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
width: 100%;
max-width: 800px;
}
.contentListItem:nth-child(1),.contentListItem:nth-child(5){
  background-color: #ff6347;
}
.contentListItem:nth-child(2),.contentListItem:nth-child(6){
  background-color: #40e0d0;
}
.contentListItem:nth-child(3),.contentListItem:nth-child(7){
  background-color: #2980b9;
}
.contentListItem:nth-child(4),.contentListItem:nth-child(8){
  background-color: #ff8c00;
}

.listCard-number {
background-color: #fff;
border-radius: 50%;
width: 40px;
height: 40px;
display: flex;
align-items: center;
justify-content: center;
font-size: 1.5rem;
margin-right: 20px;
}

.listCard-content {
flex: 1;
}

.listCard-title {
font-size: 1.2rem;
font-weight: bold;
}


/* COURSE CONTENT */

/* Footer Design */
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__content span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__links li {
  margin-right: 20px;

}

.footer__links a {
  color: #fff;
  text-decoration: none;

}

.footer__links .bi-envelope:hover{
  color: rgb(226, 196, 51);

}
.footer__links .bi-instagram:hover{
  color: rgb(198, 58, 126);
}
.footer__links .bi-linkedin:hover{
  color: rgb(0, 166, 255);
}
.footer__links .bi-youtube:hover{
  color: rgb(255, 0, 0);
}

/* CONTACT FORM */

.modalContainer {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
.modalHeaderContainer {
  color: white;
  background: linear-gradient(#212121, #212121) padding-box,
    linear-gradient(145deg, transparent 35%, #e81cff, #40c9ff) border-box;
}

.modalTitle {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: #00bfff;
}

.modalTitle::before {
  width: 18px;
  height: 18px;
}

.modalTitle::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.modalTitle::before,
.modalTitle::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: #00bfff;
}

.message,
.signin {
  font-size: 14.5px;
  color: rgba(255, 255, 255, 0.7);
}

.signin {
  text-align: center;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}
.modalBodyContainer {
  background: linear-gradient(#212121, #212121) padding-box,
    linear-gradient(145deg, transparent 35%, #e81cff, #40c9ff) border-box;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 1rem;
}

.form-submit-btn:active {
  transform: scale(0.95);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #a5a3a3;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1px;
}

.form-group input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #414141;
}

.form-group textarea {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  resize: none;
  color: #fff;
  height: 96px;
  border: 1px solid #414141;
  background-color: transparent;
  font-family: inherit;
}

.form-group input::placeholder {
  opacity: 0.5;
}

.form-group input:focus {
  outline: none;
  border-color: #e81cff;
}

.form-group textarea:focus {
  outline: none;
  border-color: #e81cff;
}
.form-submit-btn {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-self: flex-start;
  font-family: inherit;
  color: #717171;
  font-weight: 600;
  width: 40%;
  background: #313131;
  border: 1px solid #414141;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 6px;
}

.form-submit-btn:hover {
  background-color: #fff;
  border-color: #fff;
}
/* CONTACT FORM */

@media only screen and (max-width: 400px) {
  .nicheSection {
    background-size: cover;
    background-position: 50% 45%;
    padding: 2rem 0.1rem;
  }
  .heading {
    font-size: 2.5rem;
  }

  .btn-5 {
    font-size: 0.8rem;
  }
  .TagLineSection {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .TagLineSection div {
    margin: 1rem 0;
  }

  .whoSection,
  .visionSection,
  .missionSection {
    flex-direction: column;
    flex-direction: column-reverse;
  }
  .CourseCardContainer {
    align-items: center;
    justify-content: center;
  }
  .listCard-number,.listCard-title{
    font-size: 1.1rem;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .nicheSection {
    background-size: cover;
    background-position: 50% 45%;
    padding: 2rem 0.1rem;
  }
  .btn-5 {
    font-size: 0.8rem;
  }
  .footer__content span {
    flex-direction: column;
  }
  .tagline1,.tagline2{
      font-size: 2rem;
    }
    .tagline2{
      text-indent: 3rem;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .btn-5 {
    margin-top: 0.8rem;
  }
  .catalog {
    grid-template-columns: auto auto;
  }
  .reasonsContainer {
    flex-direction: row;
  }
  .whoSection,
  .visionSection,
  .missionSection {
    flex-direction: column;
  }
  .courseContent img {
    width: 70vw;
    margin: 0 auto;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  .dropdown-menu {
    margin-left: 4rem;
  }

  .whoSection,
  .visionSection,
  .missionSection {
    flex-direction: row;
  }
  .visionSection {
    flex-direction: row-reverse;
  }

  .courseSubContent {
    display: flex;
    flex-direction: row-reverse;
  }

  .courseContent img {
    width: 30vw;
    margin-right: 0px;
  }


  .mentorsContainer,.featured-grid {
    flex-direction: row;
  }
  .featured-item{
    width: calc(51% - 10px);
    border-radius:2rem;
    margin: auto 0;
    border-radius:1rem;
  }
  .video{
    width: calc(44% - 10px);
    padding-top: 5px;
  }
  .featured-image img,.featured-image video{
    border-radius: 1rem;
    padding: 0.5rem;
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .navbar-nav{
    position: absolute;
    right: 10rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .navbar {
    font-size: 1.3rem;
  }
  .heading {
    font-size: 5rem;
  }
  .catalog {
    grid-template-columns: auto auto auto;
  }
  .contentListItem{
margin-inline-start: 4rem;
}
}
